@model ProjetoIHC.Models.Cliente

@{
    var action = ViewContext.RouteData.Values["Action"].ToString().ToLower();

    if (action == "details")
    {
        ViewData["Title"] = "Detalhes";
        <h1>Detalhes</h1>
    }
    else
    {
        ViewData["Title"] = "Excluir cliente";
        <h1>Excluir</h1>
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* <h1>Detalhes</h1> *@
@if(action == "delete"){
    <h3>Você tem certeza de que deseja excluir este cliente?</h3>
}

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RG)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RG)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CPF)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CPF)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UF)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UF)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CEP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CEP)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cidade)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bairro)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Logradouro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Logradouro)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Numero)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Complemento)
        </dt>
        <dd class="col-sm-10">
            @if(Model.Complemento == null){
                <br />
            }
            @Html.DisplayFor(model => model.Complemento)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoCivil)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EstadoCivil)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NomePai)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomePai)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NomeMae)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomeMae)
        </dd>
    </dl>

</div>
<div>
    @if(action == "delete")
    {
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Excluir" class="btn btn-danger" /> |
            <a asp-action="Index">Retornar à lista</a>
        </form>
    }
    else
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> <span>|</span> // Por algum motivo este trecho dá erro sem a tag span
        <a asp-action="Index">Retornar à lista</a>
    }
</div>
